<div fxFlexFill class="website-bg">
    <mat-toolbar class="bbbrain-header" style="background-color: transparent; color: white">
        <img width="120" alt="Bbbrains" src="assets/logodark.svg">
        <span class="bbbrain-spacer"></span>
        <button mat-button routerLink="/app/workspace" style="color: darkturquoise">Login</button>
        <span style="color: darkturquoise"> | </span>
        <button mat-button routerLink="/app/workspace" style="color: darkturquoise">Cadastro</button>
    </mat-toolbar>
    <img width="300" alt="Bbbrains" class="luas luarosa" src="assets/luarosa.svg">
    <img width="290" alt="Bbbrains" class="luas luaazul" src="assets/luaazul.svg">
    <div fxFlexFill fxLayoutAlign="center center">
        <div fxLayout="column" fxFlexAlign="center"  >            
            <h1 style="color: #ffb380">Toda ideia nova é um mundo novo!</h1>
            <button mat-stroked-button routerLink="/app/workspace" isRoundButton color="accent">Comece agora</button>
        </div>
    </div>
</div>