<!--The content below is only a placeholder and can be replaced.-->
<ng-container>
  <mat-toolbar class="bbbrain-header" color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
    </button>
    <span>Bem-vindo</span>
  </mat-toolbar>

  <mat-sidenav-container class="bbbrain-container">
    <mat-sidenav #sidenav mode="side" opened class="bbbrain-sidenav">
      <mat-nav-list>
        <mat-list-item routerLink="/workspace" routerLinkActive="active">
          <mat-icon mat-list-icon>home</mat-icon> 
          <a matLine >Inicio</a>
        </mat-list-item>
        <mat-list-item routerLink="/brain/{{page.id}}"  routerLinkActive="active" *ngFor="let page of pages">
          <mat-icon mat-list-icon>{{page.icon}}</mat-icon> 
          <a matLine >{{ page.name }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="bbbrain-footer">@2018 Bbbrain Global Ideas</mat-toolbar>
</ng-container>
