<!--The content below is only a placeholder and can be replaced.-->
<ng-container>
  <mat-toolbar class="bbbrain-header" color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
    </button>
    <span>Bem-vindo</span>
  </mat-toolbar>

  <mat-sidenav-container class="bbbrain-container">
    <mat-sidenav #sidenav mode="side" opened class="bbbrain-sidenav">
      <mat-nav-list>
        <mat-list-item *ngFor="let page of pages">
          <mat-icon mat-list-icon>{{page.icon}}</mat-icon> 
          <a matLine routerLink="{{page.route}}">{{ page.name }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="text-align:center">
        <img width="300" alt="Angular Logo" src="assets/bbbrain_icon.svg">
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="bbbrain-footer">@2018 Bbbrain Global Ideas</mat-toolbar>
</ng-container>
